.GetAppointment {
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%); */
    transform: translateY(-50%) translateX(-50%);
    z-index: 500000;
    width: 60rem;
    height: 50rem;
    border: 1px solid black;
    padding: 3rem;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.75);
    transition: all 0.4sl;
}


.Form {

}

.Label {

}

.InputDoctor {

}