.FormSection {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* background: red; */
    margin: 0 auto;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.75);
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.PatientRegistration {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Btn {
    width: auto;
    height: auto;
    background: #a6dda4;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.Btn:hover {
    background: #d6c0b7;
}

.Btn:focus {
    outline: none;
}